body{
    background-color: #0e7e12;
    background-image: url('pngtree-casino-chip-with-poker-background-image_786808.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}
#card{
    width: 300px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 5% auto;
}
#card-top{
    display: inline-block;
    position: relative;
    left: 10px;
    color: red;
    font-size: 100px;
    width: 60px;
    height: 100px;
}
#number{
    color: white;
    font-size: 120px;
    width: 120px;
    margin: 50px auto;
    text-align: center;
}
#card-bottom{
    float: right;
    position: relative;
    right: 10px;
    bottom: -15px;
    color: red;
    font-size: 100px;
    width: 60px;
    height: 100px;
    transform: rotate(-180deg)
}
#button-new-card{
    margin: auto;
    width: 300px;
    text-align: center;
}
.button1{
    width: 250px;
    font-size: 22px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
}